body {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    border-bottom: 1px solid#DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;      
    color: #443737;  
    text-decoration: none;                        
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
    display: block;
    align-self: baseline;   /* Выравнивание вдоль текста блока */
    flex-basis: content;

}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap:10px;
    cursor: pointer;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-item {
    position: relative;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../images/bg.jpg);
   background-size: cover; 
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 137px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
} 
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0;
}
.description-menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
} 

/* Модуль01 Урок 12 */
.banner-box {
    background-image: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 0 center;
    padding: 100px 100px 119px 100px; 
    margin-bottom: 0px;
}
.banner-title span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #F37335;
    border-radius: 14px;
    max-width: 95px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}
.banner-title {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    margin: 0;
}
.banner-text {
    max-width: 353px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAF9F9;
    line-height: 1.6;
    margin: 13px 0 33px 0;
}
.banner-link {
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 25px;
    transition: 0.3s;
}
/* Модуль01 Урок13 */
.menu {
    padding-top: 20px;
    margin-bottom: 145px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 85px 0 37px 0;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #182A49;
    margin: 0;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 20px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 20px;
    margin-bottom: 40px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}


.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
.menu-grid-price {
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin-top: 0;
    text-align: center;
}
.menu-grid-text {
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    text-align: center;
    text-transform: uppercase;
}

.menu-grid-icon { 
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/cart-menu.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: -5px;
}
.menu-grid-btn {
    display: block;
    border: none;
    width: 152px;
    height: 38px;
    background: #FBB731;
    border-radius: 5px;
    margin: 0 auto;
}
.menu-footer {
    margin: 105px 0 35px 0;
}
/* Дополнительная секция */
 /* урок14 */
 .footer {
    background: #1E2F40;
    color:#fff;
    padding-top: 117px;
    padding-bottom: 106px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item {                                                    /*no*/   
    flex: 0 0 auto;                                       /*no*/ 
}                                                          /*no*/
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#FAF9F9;                                         /*no*/
    font-weight: 700;
    line-height: 24px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FBB731;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
/* Модуль01 урок 15 */
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;   /*начало элемена флекс nav*/
}
.banner-link {   /* описание стиля класса что выше, дополнительное  */
    border: 1px solid #FBB731;   /* рамка для кнопки класс ещё описан выше  */
    padding: 18px 25px;       /* уменьшение полей для ввода рамки */
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu-grid-btn:hover {  /* класс полнен который выше */
    background-color: #F37335;
    cursor: pointer;
}
.footer-list li a:hover {
    color: yellow;
}
.footer-list-tel li a:hover {
    color: #DEDEDE;
}
.button-up {
background-color: #FBB731;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
color: #1E2F40;
text-decoration: none;
padding: 5px 20px;
position: fixed;
bottom: 20px;
right: 20px;
border-radius: 5px;
transition: 1s;
}
.button-up:hover {
    background-color: #F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}

/* 16 урок Модул01 */
/* Style index */
.main{
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper{
    max-width: 1180px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {                                                       /*обращение через класс*/
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 140px; /* or 117% */
    margin-bottom: 0px;
    margin-top: 0;
}
.content-title span{
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {                                               
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #DEDEDE;                                                      /*color: #DEDEDE;*/  
    line-height: 1.4; 
    margin-bottom: 42px;   
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;                             /*background: #FBB731;*/  
    border-radius: 5px;
    Line-height: 18px; 
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual{                                                 
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.visual-bg{                                                      
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img{
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 46px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #FAF9F9;
    box-sizing: border-box;                                                        /* box-sizing: border-box;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight:900;
    background: #F37335;
    padding:5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost{
    font-size: 50px;                                       /*60px*/
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;

}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}
/* Урок 19 */
/* Modal */
.burger {    /* Кнопка из трёх полосок */
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 58px;
}
.modal {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -250px; /*смещаем блок влево на расстояние, равное половине его ширины*/
    max-width: 500px;
    width: 100%;
    height: 246px;
    background: #FFF8DC;
    top: 30px;
    text-align: center;    
    transition: 0.5s;
}
.modal .header-nav {
    height: 100%;
    margin: 0;
    display: inline-flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;  
}
.burger-close {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Модуль01 урок 18 */
/* Responsive */
@media (min-width: 1000px) {
    .footer-tel-visible {
        display: none;
    }
    .footer-tel {
        display: block;
    }
}
@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
      .header-nav {
        gap: 22px;
      }
    .header-item {
        flex-basis: 75.5%;
    }
    .bg {
        /* padding: 124px 0; */
         margin-bottom: 70px;  
    }
    .banner-box {
        background-position: -80px center;
        padding: 100px 40px 120px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
    }
    .menu-grid.slider {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-box {
        flex-wrap: wrap;
        align-content: center;
    }
    .footer-tel {
        display: none;
    }
}
@media (max-width: 770px) {
/* .header-logo {    
    width: 142.5px;
    height: 45.6px;
} */
     nav {      /* Отключение блока навигации в Хейдере */
     display: none;
 } 
  .burger {    /* Кнопка включения модального окна в хедере */
     display: block;
 } 
 .modal {
     display: block;
 }
.header {
    justify-content: stretch;
    gap: 0px
}
.header-item {
    flex-basis: 80%;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 62px 0 39px 0; 
}
.menu-grid {
    gap: 54px 15px;
}
.menu-footer {
    margin: 95px 0 35px 0;
}
.slider .menu-grid-cover {
    height: 322px
}
.menu {
    margin-bottom: 142px;
}
.footer {
    padding-top: 68px;
    padding-bottom: 106px;
}
@media (max-width: 720px) {
    .menu-grid.slider {
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .menu-grid.slider::-webkit-scrollbar {
        display: none; /*chrome скрыть скрол*/
    }
    .slider .menu-grid-price {
        width: 213px; /* фиксированная ширина ценника для скролла что бы избежать дальнейшего сжимания блока*/
    }
    body {
        overflow-x: hidden;
    }
    .banner-box {
        padding: 69px 35px 98px;
    }
}
@media (max-width: 625px) {
    .footer-box {
    justify-content: flex-start;
    }
}
@media (max-width: 569px) {
    .bg {
        padding: 88px 0;
        margin-bottom: 77px;
     }
    .breadcrumbs a {
    font-size: 14px;
}
    .title {
    font-size: 38px;
    }
    .description {
        font-size: 15px;  
    }
    .banner .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 429px) {
    .bg {
        padding: 70px 0;
        margin-bottom: 57px;
     }
     .banner .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 376px) {
    .burger {    /* Кнопка включения модального окна в хедере */
        display: block;
        height: 30px;
    } 
    .header {
        padding-top: 23px;
        padding-bottom: 21px;
       }
       .bg {
        padding: 60px 0;
        margin-bottom: 37px;
     }
    .banner-box {
        padding: 49px 22px 78px;
    }
}
@media (max-width: 360px) {
     .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
    } 
    .description-menu {
        font-size: 12px;
    }
    .banner .container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 321px) {
   .header {
    padding-top: 22px;
    padding-bottom: 20px;
   }
    .header-logo {
        width: 112px;
        height: 34px;
        background-size: contain;
    }
    .bg {
        padding: 57px 0;
        background: url(../images/bg-mobil.jpg);
        background-position: center center;
        margin-bottom: 34px;
    }
    .banner-box {
        padding: 29px 18px 58px 17px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-select {
        font-size: 12px;
    }
    .menu-header {
        margin: 38px 0 31px 0;
        gap: 20px;
    }
    .menu-grid-cover {
        height: 180px;
    } 
     .menu-grid-cover img {
        height: 180px;
    } 
    .menu-grid {
        gap: 20px 10px;
        margin-bottom: 10px; 
    }
    .menu-grid-title {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-grid-price {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .menu-grid-btn {
        width: 129px;
    }
    .menu-footer {
        margin: 60px 0 35px 0;
    }
    .menu-grid-item {
        width: 140px;
    }
    .slider .menu-grid-cover {
        width: 140px;
        height: 180px;
    }
    .slider .menu-grid-price {
        width: 100%;
        text-align: center;
    }
    .footer {
        padding-top: 50px;
        padding-bottom: 106px;
    }
    .menu {
        margin-bottom: 60px;
    }
    .footer-tel-visible {
        display: none;
    }
    .footer-tel {
        display: block;
    }
    .footer-box div:nth-child(4) {
        order: -1;
    }
    .footer-box div:nth-child(1) {
        order: -2;
    }
    .footer-item h2 {
        font-size: 18px;
    }
    .footer-list-tel li {
        margin-top: 12px;
        margin-bottom: 0px; 
    } 
    .footer-box {
        justify-content: space-between;
        gap: 28px 0;
        align-items: center;
    }



}
