body {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    border-bottom: 1px solid#DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 25px;
    
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;      
    color: #443737;  
    text-decoration: none;                        
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
    display: block;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap:10px;
    cursor: pointer;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-item {
    position: relative;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../images/bg.jpg);
   background-size: cover; 
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 137px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
} 
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
/* Модуль01 Урок 12 */
.banner-box {
    background-image: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 0 center;
    padding: 100px 100px 119px 100px; 
    margin-bottom: 80px;
}
.banner-title span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #F37335;
    border-radius: 14px;
    max-width: 95px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}
.banner-title {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    margin: 0;
}
.banner-text {
    max-width: 353px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAF9F9;
    line-height: 1.6;
    margin: 13px 0 33px 0;
}
.banner-link {
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 25px;
}
/* Модуль01 Урок13 */
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #182A49;
    margin: 0;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 20px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.menu-grid-item {
    display: grid; 
    justify-items: center;
    align-content: space-evenly;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}


.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin-bottom: 10px;
    margin-top: 20px;
}
.menu-grid-price {
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin-top: 0;
}
.menu-grid-text {
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    text-align: center;
    text-transform: uppercase;
}
.menu-grid-icon {
    color: transparent;
    background-image: url(../images/cart-menu.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: right center;
}
.menu-grid-btn {
    border: none;
    width: 152px;
    height: 38px;
    background: #FBB731;
    border-radius: 5px;
    margin-bottom: 30px;
}
/* Дополнительная секция */
 /* урок14 */
 .footer {
    background: #1E2F40;
    color:#fff;
    padding-top: 117px;
    padding-bottom: 106px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item {                                                    /*no*/   
    flex: 0 0 auto;                                        /*no*/ 
}                                                          /*no*/
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.footer-item li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#FAF9F9;                                         /*no*/
    font-weight: 700;
    line-height: 24px;
}
.footer-item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-tel ul {
    font-size: 20px;
    font-weight: 900;
    color: #FBB731;
    margin-top: 0;
}
.footer-tel li {
    margin-bottom: 12px;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
/* Модуль01 урок 15 */
